* {
  font-family: Roboto-BlackItalic; }

.navbar {
  background-color: #000000;
  margin: 0 auto;
  width: 100%;
  height: 72px;
  color: #50FF44;
  font-size: 36px;
  text-align: center;
  font-style: italic;
  font-weight: 700;
  line-height: 72px; }

.container {
  width: 620px;
  margin: 0 auto; }

.item1 {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 620px;
  height: 120px; }

.item2 > img {
  width: 292px;
  height: 438px; }

.row {
  position: relative;
  display: inline-block;
  width: 100%; }
  .row > * {
    display: inline-block; }
  .row .item3 {
    position: absolute;
    width: calc(100% - 292px);
    height: 100%; }
    .row .item3 > .title {
      font-size: 36px;
      line-height: 52px;
      font-weight: bold;
      color: #FFFFFF;
      text-align: center;
      background-color: #000000; }
    .row .item3 > .info {
      text-align: center;
      margin: 0 auto; }
      .row .item3 > .info > * {
        font-size: 16px; }
      .row .item3 > .info > ul > #genres {
        position: absolute;
        display: inline-block;
        left: 30px;
        font-weight: bold;
        margin-top: 10px; }
      .row .item3 > .info > ul > gt {
        position: absolute;
        margin-top: 10px;
        right: 90px; }
      .row .item3 > .info > ul > #author {
        position: absolute;
        display: inline-block;
        left: 30px;
        font-weight: bold;
        margin-top: 40px; }
      .row .item3 > .info > ul > at {
        position: absolute;
        margin-top: 40px;
        right: 123px; }
      .row .item3 > .info > ul > #status {
        position: absolute;
        display: inline-block;
        left: 30px;
        font-weight: bold;
        margin-top: 70px; }
      .row .item3 > .info > ul > st {
        position: absolute;
        margin-top: 70px;
        right: 169px; }
      .row .item3 > .info > ul > #rate {
        position: absolute;
        display: inline-block;
        left: 30px;
        font-weight: bold;
        margin-top: 100px; }
      .row .item3 > .info > ul > .star {
        position: absolute;
        margin-top: 100px;
        left: 100px; }
      .row .item3 > .info > ul > #summary {
        position: absolute;
        display: inline-block;
        left: 30px;
        font-weight: bold;
        margin-top: 150px; }
      .row .item3 > .info > ul > .www {
        width: 300px;
        height: 200px;
        left: 30px;
        position: absolute;
        margin-top: 200px;
        text-align: left; }
      .row .item3 > .info > ul > .wwww {
        width: 300px;
        height: 200px;
        left: 30px;
        position: absolute;
        margin-top: 270px;
        text-align: left; }

.item4 {
  margin-top: 20px;
  margin-bottom: 20px; }

.item5 {
  width: 181px;
  height: 44px;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 44px;
  font-weight: bold;
  text-align: center;
  background-color: #000000; }

.item6 {
  width: 100%;
  height: 106px;
  border-style: solid;
  border-width: 5px;
  border-color: #000000; }
  .item6 > * {
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    line-height: 24px; }
  .item6 > .box1 {
    padding: 14px 24px; }
  .item6 > .box2 {
    padding: 12px 24px; }

.item7 {
  margin-top: 20px;
  margin-bottom: 20px; }
